{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cash for Cars | Scrap Car | Old Car Removal | SA, Adelaide</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!-- <link href="img/favicon.JPG" rel="icon"> -->
    <link rel="icon" type="" sizes="32x32" href="{% static 'img/favicon.JPG'%}"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>Greenfield SA 5107</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>24 / 7</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>0469906500</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i
                            class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <!-- Logo -->
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="{% static 'img/logo.svg' %}" class="logo" alt="logo">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'cashforcars' %}" class="nav-item nav-link">Cash For Cars</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Our Services</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url 'cashforallcars' %}" class="dropdown-item">Cash for All Cars</a>
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
            </div>
            <a href="{% url 'getquote' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" id="bg"  >
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">CASH FOR ALL SCRAP, WRECKED & UNWANTED CARS
                    ADELAIDE, <br>$500 &minus; $9999</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Cash for All Cars</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-phone fa-2x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Call Us Today</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-file fa-2x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Accept Our Offer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-truck fa-2x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">We Pick it Up</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- service left to right -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/img-1.jpeg' %}"
                            style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5"
                            style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">We <span class="fs-4">are</span></h1>
                            <h4 class="text-white">Expert</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// Who we Are//</h6>
                    <h1 class="mb-4"><span class="text-primary">HQ </span> Cash for <span class="text-primary">VANs</span> Adelaide in SA</h1>
                    <p class="mb-4">Ready to sell your car <i class="fa fa-car text-primary flex-shrink-0"></i> or
                        trucks <i class="fa fa-truck text-primary flex-shrink-0"></i>? Cash for Cars Adelaide is your
                        cash car buyer in Adelaide, We are available 24/7; when you contact us, we will send one of our tracks near your location to pick up your car. Also, We set the pick-up time that is convenient for you. In addition, our team members will come with a tow truck to pick it up themselves. </p>
                    <div class="row g-2 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Get Your Car Sold Faster</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Top Cash Payments Up To 9,999</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Free Removals in Adelaide, SA</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- service right to left -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// Who we Are//</h6>
                    <h1 class="mb-4"><span class="text-primary">HQ </span> Cash for <span class="text-primary">4WDs</span> Adelaide in SA</h1>
                    <p class="mb-4">Ready to sell your car <i class="fa fa-car text-primary flex-shrink-0"></i> or
                        trucks <i class="fa fa-truck text-primary flex-shrink-0"></i>? Cash for Cars Adelaide is your
                        cash car buyer in Adelaide, Depending on the condition of your vehicle you will get a detailed price quote. If you agree to our offer, we'll come to your doorstep with a tow truck to remove your car at zero additional fee</p>
                    <div class="row g-2 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Get Your Car Sold Faster</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Top Cash Payments Up To 9,999</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Free Removals in Adelaide, SA</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/img-18.jpeg' %}"
                            style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5"
                            style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">We <span class="fs-4">are</span></h1>
                            <h4 class="text-white">Expert</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- service left to right -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/img-7.jpeg' %}"
                            style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5"
                            style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">We <span class="fs-4">are</span></h1>
                            <h4 class="text-white">Expert</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// Who we Are//</h6>
                    <h1 class="mb-4"><span class="text-primary">HQ </span> Cash for <span class="text-primary">Trucks</span> Adelaide in SA</h1>
                    <p class="mb-4">Ready to sell your car <i class="fa fa-car text-primary flex-shrink-0"></i> or
                        trucks <i class="fa fa-truck text-primary flex-shrink-0"></i>? Cash for Cars Adelaide is your
                        cash car buyer in Adelaide, You don’t need to pay for truck removal in Adelaide and South Australia – we offer a free truck removal service. Our drivers pick up vehicles between Monday to Saturday and can offer same-day truck removal </p>
                    <div class="row g-2 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Get Your Car Sold Faster</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Top Cash Payments Up To 9,999</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Free Removals in Adelaide, SA</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- service right to left -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// Who we Are//</h6>
                    <h1 class="mb-4"><span class="text-primary">HQ </span> Cash for <span class="text-primary">Toyota</span> Wreckers Adelaide in SA</h1>
                    <p class="mb-4">Ready to sell your car <i class="fa fa-car text-primary flex-shrink-0"></i> or
                        trucks <i class="fa fa-truck text-primary flex-shrink-0"></i>? Cash for Cars Adelaide is your
                        cash car buyer in Adelaide, Toyota vehicles are built to last, but as they approach their end, letting go is the toughest thing to do. Discarding your vehicle responsibly is important for you as well as the environment. No matter which Toyota model you want to discard, SA Wreckers makes sure it undergoes sustainable treatment before meeting its fate. Moreover, you will get the best price for your scrap Toyota vehicle in Adelaide, and we take full accountability of the process, from removal to paperwork and everything in between.</p>
                    <div class="row g-2 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Get Your Car Sold Faster</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Top Cash Payments Up To 9,999</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3 mt-3">
                                    <h6>Free Removals in Adelaide, SA</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/img-21.jpeg' %}"
                            style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5"
                            style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">We <span class="fs-4">are</span></h1>
                            <h4 class="text-white">Expert</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Call To Action Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h6 class="text-primary text-uppercase">// Call To Action //</h6>
                    <h1 class="mb-4">Have Any Pre Booking Question?</h1>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        <h3 class="text-white mb-4"><i class="fa fa-phone-alt me-3"></i>0469906500</h3>
                        <a href="" class="btn btn-secondary py-3 px-5">Contact Us<i
                                class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call To Action End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">

                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Greenfield SA 5107</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0469906500</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@hqcashforcars.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Opening Hours</h4>
                    <h6 class="text-light">24 / 7</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="#">Accident Car Buyer</a>
                    <a class="btn btn-link" href="#">Scrap Car Buyer</a>
                    <a class="btn btn-link" href="#">Used Car Removal</a>
                    <a class="btn btn-link" href="#">Junk Car Removal</a>
                    <a class="btn btn-link" href="#">Cash For Junk Car</a>
                    <a class="btn btn-link" href="#">Cash For Old Car</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">All Right Reserved.
                        Designed By <a class="border-bottom" href="https://www.ownsofttech.com/">OwnSoft Technologies
                            (PVT) Ltd.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
<script>
    document.getElementById('bg').style.backgroundImage = "url('{% static 'img/img-16.jpeg' %}')";
</script>
</html>